ExploreApp.xcodeproj/project.xcworkspace/xcuserdata/
ExploreApp.xcodeproj/xcuserdata/matthewdaumas.xcuserdatad/
ExploreApp.xcworkspace/xcuserdata/matthewdaumas.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
