<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>816362235521-3r71gioiq4vbumo5rvks3m3s72nrcev7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816362235521-3r71gioiq4vbumo5rvks3m3s72nrcev7</string>
	<key>API_KEY</key>
	<string>AIzaSyBhdKE5XV-JumU3Xl5-Mjdht7xsPMy1zCY</string>
	<key>GCM_SENDER_ID</key>
	<string>816362235521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KoalaFox.ExploreApp</string>
	<key>PROJECT_ID</key>
	<string>exploreapp-29c78</string>
	<key>STORAGE_BUCKET</key>
	<string>exploreapp-29c78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:816362235521:ios:5d7ff163d5d97cec</string>
	<key>DATABASE_URL</key>
	<string>https://exploreapp-29c78.firebaseio.com</string>
</dict>
</plist>